* {
  box-sizing: border-box;
  font-family: "Comic Sans MS";
}

body {
  font-size: 20px;
  color: #000;
}

/* HEADER */
#header-nav {
  background-color: #bee398;
  border-top: : 1px solid black;
  border-bottom: 1px solid black;
  height: 100px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand a {
  color: #000;
}
.navbar-brand a:hover {
  color: #373836;
}
.navbar-header button.navbar-toggle {
  clear: both;
}

/* MENU BUTTONS */
div li {
  background-color: #bee398;
  border: 1px black solid;
  margin-top: -9px;
  font-size: 1.5em;
  padding: 3px;
}
nav > li > a:hover {
  color: #000;
}
.navbar {
  position: relative;
  margin-bottom: 20px;
}
/* MAIN CONTENT */
div h2 {
  font-size: 2em;
  margin-bottom: 30px;
}
.item-description {
  font-size: 1.5em;
  margin-bottom: 40px;
}
.item-title {
  text-align: center;
  font-size: 1.8em;
  padding-bottom: 8px;
}
section div div {
  background-color: #809967;
  color: #000;
  width: 100%;
  padding: 5px;
}

/** EXTRA SMALL DEVICES **/
@media (max-width: 767px) {
  .navbar-brand h1 {
    padding-left: 30px;
  }
}
